<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BedApproved.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BedApproved.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="POL__PersOffLine_.My.MySettings.ConnectionString"
      connectionString="Driver={Driver do Microsoft Access (*.mdb)};dbq=C:\TEMP_FOR_IT\PHARMACY\db1.mdb;defaultdir=C:\TEMP_FOR_IT\PHARMACY;driverid=25;fil=MS Access;filedsn=C:\Program Files\Common Files\ODBC\Data Sources\130.1.2.100.dsn;maxbuffersize=2048;maxscanrows=8;pagetimeout=5;safetransactions=0;threads=3;uid=admin;usercommitsync=Yes"
      providerName="System.Data.Odbc" />
  </connectionStrings>
  <appSettings>
    <add key="ConnectionString1" value="server=localhost;user id=sa;password=M@z499199;Database=HIS;pooling=false;connect timeout=45;"/>

  </appSettings>

</configuration>
